:root {
    --border-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.toolbar {
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
}

.logo {
    margin-right: auto;
}

.toolbar > button {
    margin-left: 2rem;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: 1.5rem;
    background-color: antiquewhite;
}

.task-board {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 1.5rem;
}

.project,
.task {
    position: relative;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: var(--border-radius);
}

.min-task-info {
    display: flex;
    justify-content: space-between;
}

.collapsible {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: inherit;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.project-tasks .collapsible {
    position: static;
    left: none;
}

.project-tasks > h3 {
    margin: 1.5rem auto -1rem auto;
}

.project-tasks .task {
    background-color: white;
    margin-top: 1.5rem;
}

.open {
    z-index: 100;
    display: block;
}