@import url("./project-tree.css");

:root {
    --border-radius: 12px;
    --primary-color: antiquewhite;
    --secondary-color: black;
    --background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    display: grid;
    background-color: var(--primary-color);
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.toolbar {
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--primary-color);
}

.logo {
    margin-right: auto;
}

.toolbar > button {
    font: inherit;
    border: none;
    margin-left: 2rem;
    padding: .5em 1.5em;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: min(25svw, 250px);
    padding: 1.5rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-tree {
    font-size: 1.25rem;
}

.task-board {
    height: 100%;
    padding: 1.5rem;
    display: grid;
    background-color: var(--background-color);
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 1.5rem;
    place-content: start;
    border-top-left-radius: var(--border-radius);
}

.project,
.task {
    position: relative;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.min-task-info {
    display: flex;
    justify-content: space-between;
}

.collapsible {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: inherit;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.project-tasks .collapsible {
    position: static;
    left: none;
}

.project-tasks > h3 {
    margin: 1.5rem auto -1rem auto;
}

.project-tasks .task {
    background-color: var(--background-color);
    margin-top: 1.5rem;
}

.open {
    z-index: 100;
    display: block;
}